/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #1db954;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    gap: 2rem;
}

.login-logo {
    max-height: 15vh;
    width: auto;
    object-fit: contain;
}

.login-button {
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: #49f585;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for the button */
.login-button:hover {
    background-color: #49f585;
    color: black;
}

.login-message {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
